* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family:Arial, Helvetica, sans-serif}
/*Header*/
.containerHeader {
    background-color: white;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0px 1px 2px #dedede;
}

.lista-header {
    display: flex;
    align-items: center;
    margin: 16px;
}

a:hover{
    color: #3ba5f1;
    transition: color 0.3s, box-shadow 0.3s;
}

.containerHeader li:hover{
    box-shadow: 0 0 5px rgba(87, 186, 239, 0.2);
}

.img-logo {
    width: 100%
}

.lista-left,
.lista-right {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.lista-right {
    margin-left: auto;
}

.btn {
    margin-left: 10px;
}

.border-botton {
    border-bottom: solid;
    padding: 2.5em;
}
.btn-inizia{
    color: white;
}


/*Main*/

/*Item1*/
.containerElement {
    background: #B4D0E7;
}

.titulo-header {
    width: 70%;
    margin-top: 150px;
}

.titulo {
    font-size: 60px;
    font-weight: 800;
    padding-left: 210px;
}

.item1 {
    display: flex;
    justify-content: center;
}

.element1 {
    width: 35%;
    max-height: 300px;
}

.element2 {
    width: 35%;
    height: 300px;
}

.jumbo {
    width: 130%;
}


/*Item2*/

.containerElement2 {
    padding-top: 120px;
}

.titulo1 {
    font-size: 50px;
    font-weight: 800;
    padding-left: 290px;
}

.campo-input {
    display: flex;
    justify-content: start;
    padding-left: 290px;
    gap: 30px;
    margin-bottom: 40px;
}

.column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.column1 {
    width: 19%;
    min-height: 600px;
}

.border {
    border: 1px solid #ccc;

}

.border2{
    border: 0.2px solid #ccc;

}

.hr-size {
    width: 20%;
}

.column2 {
    width: 19%;
    min-height: 600px;
}

.column3 {
    width: 19%;
    min-height: 600px;
}


/*Item3*/

.item3 {
    display: flex;
    justify-content: center;
}

.team {
    width: 60%;
    min-height: 200px;
    border: 1px solid #ccc;
}

.teaml {
    border: 1px solid #ccc;
    text-align: center;
}

.contatta-item3{
    display: flex;
    justify-content: space-between;
}


/*Item4*/
.containerElement4 {
    margin-bottom: 250px;
}

.item4 {
    display: flex;
    justify-content: center;
}

.img-item4 {
    width: 40%;
    max-height: 300px;
}

.img-patner {
    width: 100%;
}

.p-item4 {
    width: 20%;
    max-height: 300px;
}

/*Item5*/
.titulo-element5 {
    padding-left: 290px;
    margin-bottom: 48px;
}

.item5 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 220px;
}

.column1-item5 {
    width: 30%;
    min-height: 300px;
}

.column2-item5 {
    width: 30%;
    min-height: 300px;
}

.column3-item5 {
    width: 30%;
    min-height: 300px;
}

.column4-item5 {
    width: 30%;
    min-height: 300px;
}

.column5-item5 {
    width: 30%;
    min-height: 300px;
}

.column6-item5 {
    width: 30%;
    min-height: 300px;
}

.img-item5 {
    width: 50%;
}


/*Item6*/
.item6 {
    width: 90%;
    height: 150px;
    padding-left: 290px;
}

a, .scopri{
    color: blue;
    text-decoration:underline;
}


/*Item7*/

.quadrato-element7 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.quadrato1 {
    width: 16.66%;
    height: 400px;
}

.img1 {
    height: 200px;
    background: #A2D39B;
    display: flex;
    align-items: center;
    align-content: center;
}

.designit {
    width: 100%;
    height: 50px;
}

.img2 {
    height: 200px;
    background: #0093CD;
    display: flex;
    align-items: center;
    align-content: center;
}

.florida {
    max-width: 70%;
    height: 60px;
    padding-left: 50px;
}

.quadrato2 {
    width: 16.66%;
    height: 400px;
}

.img3 {
    height: 200px;
    background: #62092C;
    display: flex;
    align-items: center;
    align-content: center;
}

.arizona {
    width: 100%;
    height: 70px;
}

.img4 {
    height: 200px;
    background: #FF1B1C;
    display: flex;
    align-items: center;
}

.topps {
    width: 100%;
    height: 70px;

}

.quadrato3 {
    width: 33.33%;
    height: 400px;
    background-color: #F5F5F5;
    overflow: auto;
}

.img-item7 {
    width: 40%;
}

.quadrato4 {
    width: 16.66%;
    height: 400px;
}

.img5 {
    height: 200px;
    background: #D4011E;
    display: flex;
    align-items: center;
}

.word {
    width: 100%;
    height: 70px;
}

.img6 {
    height: 200px;
    background: #0D2481;
    display: flex;
    align-items: center;
}

.lonely {
    width: 100%;
    height: 70px;
}

.quadrato5 {
    width: 16.66%;
    height: 400px;
}

.img7 {
    height: 200px;
    background: #B4D0E7;
    display: flex;
    align-items: center;
}

.hearst {
    max-width: 70%;
    height: 60px;
    padding-left: 50px;
}

.img8 {
    height: 200px;
    background: #FFD830;
    display: flex;
    align-items: center;
}

.channel {
    width: 100%;
    height: 70px;
}

.imgWhite {
    filter: invert(1)
}


/*Item8*/

.containerElemt8 {
    background-color: #B4D0E8;
}

.item8 {
    width: 90%;
    height: 150px;
    padding-left: 290px;
}

/*Item9*/

.item9 {
    width: 90%;
    height: 150px;
    padding-left: 290px; 
    padding-right: 220px; 
    margin-bottom: 350px;
}

.question{
    cursor: pointer;
    padding: 10px;
}

.answer{
    display: none;
    padding: 10px;
}

.faq-item1:hover .answer {
    display: block;
  }

  .faq-item2:hover .answer {
    display: block;
  }

 
/*Footer*/

.containerFooter {
    display: flex;
    align-content: space-between;
    background-color: black;
    padding-left: 150px; 
    padding-right: 150px;
    padding-block-end: 100px;
}

.itemf {
    width: 100%;
}

.content-footer{
    flex-direction: column;
    gap: 20px;
}
.item-f {
    color: white;
}

.elementF{
    padding: 1.5em 0;
}

.hr{
    width: 70%;
    padding: 100px 0 0;
}


/*generici*/

.flex {display: flex;}

a {text-decoration: none;}

ul,
li {list-style: none;}


/*button*/
.btn-blue {
    background: blue;
    color: white;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s color 3s transform 0.3s;
}

.btn-blue:hover{
    background-color: rgb(113, 113, 243);
    color: white;
    transform: scale(1.1);
}


/*colori*/
.black {color: black;}
.violla{color:#7A3D52}
.white{color: white;}
.b-white{background-color: #FFFFFF;}
.b-black{background-color: black;}


/*padding*/

.p16 {padding: 16px;}

.padding-cont-big{padding: 4em 0 2em 0;}


.pb16 {padding-bottom: 16px;}


.pb32 {padding-bottom: 48px;}

.pl32 {padding-left: 32px;}

.pr32{padding-right: 32px;}

.pr32 {padding-right: 32px;}

.pt32 {padding-top: 32px;}

.pt48 {padding-top: 48px;}

.pt16{padding-top: 16px;}

.pt150 {padding-top: 150px;}

.pt100{padding-top: 100px;}

